<%- include('parts/header')%>
<%- include('parts/navbar')%>

<div class="container text-center mt-3 col d-flex justify-content-center">

  <div class="card w-50" style="width: 18rem;">
    <div class="card-body">
      <h3 class="card-title bg-light text-primary py-2">Complete Order</h3>

      <form action="/orders" method="POST">

        <div class="mb-3 row">
          <label for="address" class="col-sm-2 col-form-label">Address</label>
          <div class="col-sm-10">
            <input type="text" name="address" class="form-control" id="address" placeholder="">
            <input type="hidden" name="cartId" value="<%=cartId %>"/>
            <input type="hidden" name="itemName" value="<%=itemName %>"/>
            <input type="hidden" name="itemCost" value="<%=itemCost %>"/>
            <input type="hidden" name="itemAmount" value="<%=itemAmount %>"/>
            <input type="hidden" name="itemId" value="<%=itemId %>"/>
          </div>
        </div>


        <input type="submit" value="Order" class="btn btn-primary">
      </form>

    </div>
  </div>
</div>
<%- include('parts/footer')%>